# Ignore SRTM data and example data when pushing to main

/Users/milliespencer/Glacier-DEM-coregistration-and-MB/srtm_data
/Users/milliespencer/Glacier-DEM-coregistration-and-MB/example_data_Nevados
/Users/milliespencer/Glacier-DEM-coregistration-and-MB/aligned_dems
example_data_Nevados/
srtm_data/
src/
src/demcoreg
src/pygeotools
src/imview
src/
